[2017-09-01 20:58] Omranic opened #9 "Test ticket from Code Climate"

[2017-09-01 22:27] #9 closed

[2017-09-09 19:51] Omranic opened #12 "Test ticket from Code Climate"

[2017-09-09 19:51] #12 closed

[2017-09-29 07:05] PhoxPHP opened #13 "Problem with composer require"
Hi,

I am trying to install this package and use it with a laravel 5.5 project but i get this error instead:

  Problem 1
    - Installation request for rinvex/subscriptions ^0.0.2 -> satisfiable by rinvex/subscriptions[v0.0.2].
    - rinvex/subscriptions v0.0.2 requires rinvex/cacheable dev-develop -> satisfiable by rinvex/cacheable[dev-develop] but these conflict with your requirements or minimu

[2017-09-29 09:51] Omranic commented on #13
Yes, you should use *dev-develop* and it will work smoothly for you. Once this is tagged as stable, you can use then *master* branch. Pl ads feel free to reopen this issue if you need further assistance:)

[2017-09-29 09:51] #13 closed

[2017-09-29 12:54] Peter2962 opened #14 "Can't create a plan. Trait does not exist."
Hi There,

I am trying to create a plan but i keep getting this error:
PHP Fatal error:  Trait 'Rinvex\Support\Traits\HasTranslations' not found.

I see that the trait does not exist. Any way to fix?

[2017-10-20 11:04] #14 closed

[2017-10-20 11:10] Peter2962 opened #15 "Redirect loop on plan creation"
I installed this package and setup everything as instructed but when i try to create a new plan, i get a redirect loop error. The code i am running is as shown below:
[code]
Thanks.

[2017-10-20 11:12] Omranic commented on #15
Which branch you're using? Make sure it's the **develop** branch please since it's the most up to date for this under-development package. Let me know if that didn't fix your issue..

[2017-10-20 11:14] Peter2962 commented on #15
Yes i am using develop branch. Thank you.

[2017-10-20 11:15] Omranic commented on #15
Ok, let me test your code sample within minutes & get back to you..

[2017-10-20 11:15] Peter2962 commented on #15
Okay thank you.

[2017-10-20 11:20] Omranic commented on #14
Mentioned traits are available on **develop** branch. All packages that's still not yet tagged should be used on the develop branch only as it's the most updated & even more stable than master. This changes when we tag v1.x releases, hopefully soon!

[2017-10-20 11:22] Peter2962 commented on #15
And i'm using it with laravel 5.5. Thanks.

[2017-10-20 11:29] Omranic commented on #15
Tested & confirmed to be an issue with the sample code in our docs, here's the correct code to use for now until we update docs and/or the package itself too:
[code]

What changed here is the `invoice_interval` is now a char of one letter, so it's `m` instead of `month`, and `signup_fee` is required field. That's it, should work for you now :) Feel free to re-open if you've any further issues!

[2017-10-20 11:29] #15 closed

[2017-10-20 11:31] Peter2962 commented on #15
Okay thank you.

[2017-10-20 11:34] Peter2962 commented on #15
It works now. Thank you.

[2017-10-20 11:51] Peter2962 commented on #14
Thank you 👍

[2018-02-09 04:49] Peixer opened #19 "BadMethodCallException - Method 'addMs' does not exist."
I get its exception when tried subscribe an user in plan. I guess that its happen because the file Period.php not using month.

[2018-02-14 14:48] Omranic opened #20 "[Exception] On creating new plan / the given data was invalid"
Reported by: *Almeida Silva*

[code]

[code]

[2018-02-14 14:54] ppalmeida commented on #20
Just to make sure this is some dumb mistake made by be, this is the test method:

[code]

[2018-02-14 20:39] noxify commented on #20
Can you try:

[code]

instead of:

[code]

invoice interval definition:
https://github.com/rinvex/subscriptions/blob/develop/src/Models/Plan.php#L188

signup fee definition:
https://github.com/rinvex/subscriptions/blob/develop/src/Models/Plan.php#L183

[2018-02-17 14:43] ppalmeida commented on #20
Hi, @noxify.
Thank you for your help. But it didn't work (or we just change the error, wich is good :-)

Now the error bag shows this:
[code]
And that's strange because the create_plan_features_table migration is like this:
[code]
My method now looks like this:

[code]

Any help is very appreciate. This package looks really nice, I am sure it's just simple details to make it work.

Thank you all f

[2018-02-18 00:24] Omranic commented on #20
All `interval` fields are now string-based that accepts (`hour`, `day`, `week`, `month`) .. You should be able to use the latest release without any issues bf8b67beaa89fbc54c6ea6a7720fab0e3dc5d8cc

[2018-02-18 00:24] #20 closed

[2018-02-18 00:24] Omranic commented on #19
All `interval` fields are now string-based that accepts (`hour`, `day`, `week`, `month`) .. You should be able to use the latest release without any issues bf8b67beaa89fbc54c6ea6a7720fab0e3dc5d8cc

[2018-02-18 00:24] #19 closed

[2018-02-18 23:55] hanc2006 opened #21 "Laravel 5.5 composer require"
After the latest commit where the support for the Laravel 5.5 was dropped, how can I still use this package without update Laravel to 5.6? If I try to resolve the dependencies in many way but composer fails every time.

[2018-02-19 02:15] Peixer commented on #19
Thanks @Omranic

[2018-02-19 11:37] Omranic commented on #21
It's easy and straight forward to upgrade to Laravel v5.5, but if you don't plan to do so feel free to fork the package and update your project's `composer.json` like so https://getcomposer.org/doc/05-repositories.md#using-private-repositories

[2018-02-19 11:37] #21 closed

[2018-02-21 14:00] ppalmeida commented on #20
Hi, @noxify

I got the latest version of ```dev-develop``` branch and now, when I run the code, it give these errors:

[code]

And with PlanFeature:
[code]
So, If I use "d" or "m" as periods, the rules are against it. Could you please, recheck them?

For example: in Plan Model (https://github.com/rinvex/subscriptions/blob/77e3f025915549b6329f6f0ffbc321a208678fa2/src/Models/Plan.php#L177) the rules

[2018-02-21 14:05] Omranic commented on #20
@ppalmeida you can **NOT** use short intervals any more. That said above already:

All `interval` fields are now string-based that accepts (`hour`, `day`, `week`, `month`) .. You should be able to use the latest release without any issues bf8b67beaa89fbc54c6ea6a7720fab0e3dc5d8cc

So would you please try with the long intervals 🙂

[2018-02-26 20:22] ppalmeida commented on #20
Hi, @Omranic.

What you said above is very strange. Because I get this error from my tests:
[code]

And in the Period.php class I can see this line:
[code]

And this is exactly what I think is giving the erros. Because my factory looks like this:
[code]

And the errors still happening, because of this IF:
https://github.com/rinvex/subscriptions/blob/f3d51ff17639c45ee0864ea1158111335bc35d87/src/Ser

[2018-02-26 20:32] Omranic commented on #20
Nice catch, thank you @ppalmeida 👍
That was a mistakenly leftover, and now fixed on 285f08eaec97048b4fec58da51ef8c083fdf5847 😉

[2018-02-26 22:12] ppalmeida opened #22 "Name vs Title"
Hi, guys.
I think I found a new small bug:

In `HasSubscriptions` trait, we're missing the "title" in subscriptions->create method:

[code]

Then it leads to errors in Validation:

[code]

I did not get the difference between "title" and "name". What's de difference in these properties and when should I use each one of those?

So, what I did was just this:
[code]

And the tests are green until now

[2018-02-27 12:00] ppalmeida opened #23 "Column `slug` does not exists"
Hi, guys.

When I try to assert the use of a feature, I do like this:

[code]

And the error in console is:
[code]
I only could find `slug` in code at `Rinvex\Subscriptions\Traits\HasSubscriptions`:

[code]

If I change that 'slug' to 'name', I get this error:

[code]
So I checked the $plan->features->pluck('name') and the result is as expected:

[code]

So, the problems I've found are:
1) The  `R

[2018-02-27 12:25] ppalmeida commented on #23
One more thing:

In `PlanSubscription` model, the problem is in ```$usage``` variable, line 502: it returns NULL (that's the null point):
```$usage = $this->usage()->byFeatureName($featureName)->first();```

The query was scoped correctly (I think):
[code]
But at line 510, the first attempt is ```if ($usage->expired()``` on a NULL pointer.

Hope it helps.

https://github.com/rinvex/subscriptions/b

[2018-02-27 14:28] Omranic commented on #22
Name: acts like the slug
Title: just normal text for object title
Fixed in 063d8b2b4cd6429cd68f78f99ca2bce96dfcaa15

[2018-02-27 14:28] #22 closed

[2018-02-27 14:30] Omranic commented on #23
Fixed in 96dad848fbc3d1aeb1a367231dc651b16749bf12 Please feel free to open this or a new issue if you need further assistance 👍

[2018-02-27 14:30] #23 closed

[2018-02-28 16:47] ppalmeida opened #24 "Period: $this->interval null point exception"
Hi.

In Period class (https://github.com/rinvex/subscriptions/blob/e4f576a2bfcead24d00a462059253c7886fa9157/src/Services/Period.php#L64) the field $this->interval is never updated in the constructor. This is leading to a NULL point exception.

Should it not have a
[code]
somewhere?

[2018-02-28 17:26] ppalmeida commented on #22
Hi, @Omranic

The error with the "expected()" null point still happening. Even with your fix.

[code]
In ```PlanSubscription``` model, about line 499, I changed the method to this:

[code]

The result of the DD is:

[code]

So:
1) The ```$featureName``` is correct and exists in ```$plan->features```.
2) The line ```$usage``` is backing as NULL from the relationship. That is the problem!

The ```$p

[2018-03-01 19:30] ppalmeida opened #25 "Column not found: 1054 Unknown column 'cacheDriver'"
When trying to seed the Plan, the console outputs this error:

[code]

I  think it comes from the trait ```CacheableEloquent```. I do not know how it works and why the Plan needs it. Could you please check it out?

My factory methods are:

[code]

And the seeder:

[code]

[2018-03-01 19:37] ppalmeida opened #26 "PlanFeature: canUseFeature null pointer exception"
In `PlanSubscription` model, I have a problem in ```$usage``` variable, line 502: it returns NULL:

[code]
The query was scoped correctly (I think):

[code]
But at line 510, the first attempt is ```if ($usage->expired()``` on a NULL pointer.

Hope it helps.

https://github.com/rinvex/subscriptions/blob/285f08eaec97048b4fec58da51ef8c083fdf5847/src/Models/PlanSubscription.php#L499

My test looks lik

[2018-03-01 19:41] Omranic commented on #25
Fixed 127e15db8e78767f6c6a2929c470f311f594f490 Not tested, so please test and let me know if there's any other issues.

[2018-03-01 21:54] ppalmeida commented on #25
It works!
No ```cacheDriver``` column anymore.

[2018-03-01 22:00] #25 closed

[2018-03-08 08:44] jcoetsie opened #28 "Period interval translates to wrong Carbon method"
the period intervals (d,w,m,y) are used to create a Carbon method to add the interval:

`$test->addDays(3);`

However the code generates: `$test->addDs(3);` and fails.

[2018-03-08 09:54] jcoetsie commented on #28
hi,

 I opened a pull request with some changes but it keeps on failing on your checks.
I have no idea why. Can you check please?

tx

[2018-04-04 04:54] Omranic commented on #22
Since the `name` and `title` conventions made some confusions, I've reverted them all to the original state: `name` for the name as we know it, and `slug` for the url-safe name identifier. Hope your issue is now fixed, if not feel free to open this or a new issue.

[2018-05-17 13:55] maximaexchen commented on #21
Is still possible to install the package on 5.5.?
I get the "conflict in requirements" error

[2018-06-29 07:10] tarangpatel61 opened #32 "How can i update Plan ?"
How can i update Plan ?

[2018-07-12 06:18] msyahidin commented on #28
@jcoetsie hi, is your repo has fixed the issue?

[2018-08-19 06:59] freddygenicho opened #35 "Method Illuminate\Support\Carbon::addMs does not exist."
[code]
How do i reslove this issue? Please i need instant help

[2018-08-30 08:01] devingray commented on #35
Same Issue.

[2018-08-31 22:21] zek opened #37 "Laravel 5.7 Support"

[2018-09-09 18:46] SmokinB commented on #35
Thats a bug. You can fix it by changing one line code in the Period-Class Constructor:

`$this->interval = in_array($interval, ['d', 'w', 'm', 'y']) ? $interval : 'm';`

to

`$this->interval = in_array($interval, ['day', 'week', 'month', 'year']) ? $interval : 'month';`

[2018-09-24 18:45] guoxiangke opened #38 "laravel 5.6 use this plugin which dependends on rinvex/cacheable but the cacheable now is 5.7"
![image](https://user-images.githubusercontent.com/1160703/45971890-cb9f0f00-c06c-11e8-9d83-1039697ce7a7.png)

[2018-09-24 18:47] guoxiangke commented on #38
https://github.com/rinvex/subscriptions/blob/f9bb8dbf6eb905b3c55aa310195748fc0566bf0f/composer.json#L44

[2018-09-25 04:04] Omranic commented on #38
@guoxiangke yes, but you can lock package version to *v0.0.4* that fully supports Laravel v5.6 :)

[2018-09-27 00:33] guoxiangke opened #39 "rinvex/cacheable dev-develop now is not support laravel 5.6"
Please change "rinvex/cacheable": "dev-develop" to "rinvex/cacheable": "0.0.4"
thanks a lot.

[2018-10-02 06:37] guoxiangke commented on #39
seems fixed now

[2018-10-02 06:37] #39 closed

[2018-10-05 13:36] Omranic opened #40 "Test ticket from Code Climate"

[2018-10-05 13:39] #40 closed

[2018-10-09 16:43] javierrivarola commented on #24
Same issue here

[2018-10-24 10:28] ayimdomnic commented on #24
was this fixed?

[2018-10-31 02:35] guoxiangke opened #42 "I think here should be $interval instead of $this->interval ."
https://github.com/rinvex/laravel-subscriptions/blob/23697d08117d01b30878b7ef55817bf8a8478982/src/Services/Period.php#L63

[2018-10-31 02:35] guoxiangke commented on #42
TypeError: ucfirst() expects parameter 1 to be string, null given

[2018-11-03 01:07] Karan1458 commented on #42
I think maintainer is not active. Otherwise someone has already reported this issue in past months.

[Pull Request](https://github.com/rinvex/laravel-subscriptions/pull/27)

[2018-12-11 12:13] SidneySaints opened #43 "BadMethodCallException on byFeatureSlug"
$user = $request->user();
$subscription = $user->subscription('main');
$feature = sprintf('%s-%s', $subscription->plan->name, $feature);

return $subscription->canUseFeature($feature);

i get this error:

"Call to undefined method Illuminate\Database\Eloquent\Relations\HasMany::byFeatureSlug()"

[2018-12-13 16:40] moharrum opened #44 "Package dependancy problem (spatie/laravel-translatable 3.*)"
Hi,

I already have `spatie/laravel-translatable` installed (version 3.1.0), trying to install the package, I'm getting:

[code]

Thanks.

[2018-12-20 23:54] Omranic commented on #38
We try to keep `develop` branch always up to date.

This package is now supports Laravel v5.7 so will close this issue.

[2018-12-20 23:54] #38 closed

[2018-12-21 17:50] Omranic commented on #21
@maximaexchen you can lock your composer on `v0.0.3`

[2018-12-22 17:32] Omranic commented on #42
Fixed in #27

[2018-12-22 17:32] #42 closed

[2018-12-22 17:36] Omranic commented on #44
Fixed in latest release https://github.com/rinvex/laravel-subscriptions/commit/29025dbd9d8dd1b41099c0f6ee3155ab1ab92168

[2018-12-22 17:36] #44 closed

[2018-12-22 17:36] Omranic commented on #37
Fixed in https://github.com/rinvex/laravel-subscriptions/commit/e23ae2247c7bd39b1d6f8c38264d981ae3eb99bb

[2018-12-22 17:36] #37 closed

[2018-12-22 17:37] Omranic commented on #24
Fixed in https://github.com/rinvex/laravel-subscriptions/pull/27

[2018-12-22 17:37] #24 closed

[2018-12-22 17:38] Omranic commented on #35
Fixed in latest release

[2018-12-22 17:38] #35 closed

[2018-12-22 17:39] Omranic commented on #28
Fixed in latest releases

[2018-12-22 17:39] #28 closed

[2018-12-24 16:45] moharrum opened #46 "Call to undefined method guardAgainstUntranslatableAttribute()"
Hi,

After upgrading `spatie/laravel-translatable` to 3.1, creating a new `Plan` model returns `Call to undefined method guardAgainstUntranslatableAttribute()`.

I'm wondering why you are using `rinvex/laravel-support` `HasTranslations` trait instead of `spatie` and simply override in `Plan.php`.

Plus, `HasTranslations.php` definition of `getTranslations` method now does not match `spatie/laravel

[2018-12-30 14:41] ProjectInfinity commented on #42
Why was this not merged into master and released with 1.0.1? This is still unusable because $this->interval is null.

[2018-12-30 15:54] Omranic commented on #42
@ProjectInfinity Done https://github.com/rinvex/laravel-subscriptions/releases/tag/v1.0.2

[2018-12-30 15:56] Omranic commented on #46
This issue doesn't relate to this package, but relates to `rinvex/laravel-support`

Fixed anyway in recent releases and it's now working fine :)

[2018-12-30 15:56] #46 closed

[2018-12-31 22:33] moharrum commented on #46
I know it does not relate to this package, but still it is affected. BTW, the trait used in `laravel-support` is not necessary anyway, you can override methods directly in the model class, and make our lives easier I guess :).

[2019-01-03 15:00] namdeveloper opened #48 "BadMethodCallException Call to undefined method Rinvex\Subscriptions\Models\Plan::getFeatureByName()"
![image](https://user-images.githubusercontent.com/4077740/50644174-a6db0180-0fa2-11e9-8d96-c2723f103f15.png)

$plan = app('rinvex.subscriptions.plan')->find(1);
        //$plan4 = app('rinvex.subscriptions.plan')->find(4);

        // Get all plan features
        echo 'Get all plan features: ';
        echo $plan->features;
        echo '<br/>';

        // Get all plan subscriptions
        ech

[2019-01-31 14:44] ervaibhavsinghal opened #49 "rinvex.subscriptions.plan_subscription does not exist"
@Omranic Thanks for this awesome plugin, but we got same error in this plugin.

we required the plan name which has been subscribed by the user, so we are tring to get this

`$user = Auth::id();`
 `$bookingsOfUser = app('rinvex.subscriptions.plan_subscription')->ofUser($user)->get();`

but got an error:

Class rinvex.subscriptions.plan_subscription does not exist

![screenshot from 2019-01-31 20-0

[2019-02-04 17:57] Yahav opened #50 "Is this package still under maintenance? active development?"
Also, why on earth you need to bind it to the container? why this is required:
[code]

??

[2019-02-07 12:23] TanvirAlam opened #51 "The package requires illuminate/support"
[code]

[2019-02-07 12:50] Yahav commented on #51
It seems like the package require laravel 5.7, you seem to have 5.6 installed

[2019-02-07 13:32] TanvirAlam commented on #51
@Yahav thank you, I felt it

[2019-02-07 13:32] #51 closed

[2019-02-10 21:24] ervaibhavsinghal commented on #49
@Omranic thanks for your response... now it's working fine to just change the line with
old line:
`$bookingsOfUser = app('rinvex.subscriptions.plan_subscription')->ofUser($user)->get();`

New Line:
`$bookingsOfUser = app('rinvex.subscriptions.plan_subscriptions')->ofUser($user)->get();`

"s" is missing in that code.

[2019-02-10 21:24] #49 closed

[2019-03-01 17:36] itsikhar opened #52 "Mutiple currencies and prices"
Hello, i have a multiple language website.
I need to create one subscription with price for each language.

There is an option to create subscription and select the price and currency by user language?

Thanks,
Itsik

[2019-03-07 17:38] kunaldodiya opened #54 "Dispatcher::fire() is not a function"
I am using laravel 5.8, just installed it, while adding plans, it gives me this error

![image](https://user-images.githubusercontent.com/7272013/53976855-d981b180-412d-11e9-84d8-4a7386d45a2a.png)

[2019-03-09 16:27] kunaldodiya commented on #54
hi, if i manually change psr4 => laravel-cachable folder in your composer.json file to your latest [laravel-cacheble](https://github.com/rinvex/laravel-cacheable) repository, the error resolves immediately

[2019-03-14 17:36] pete001 commented on #48
Use `getFeatureBySlug`

[2019-03-15 01:49] nezaboravi opened #55 "Support for laravel 5.8"
Hi,
Looks like currently it does not supports laravel 5.8
Any plan to support it any time soon?
Thanks :)

[2019-03-21 23:41] angelkurten opened #56 "How to integrate with paypal?"
How to integrate with paypal?

[2019-03-28 20:22] #56 closed

[2019-04-12 14:19] odaiderawi opened #57 "rinvex/laravel-subscriptions v2.0.0 requires rinvex/laravel-support ^2.0.0"
![image](https://user-images.githubusercontent.com/36736057/56044035-0b96bc80-5d47-11e9-8fa7-113a24d09962.png)

[2019-04-27 12:21] rajeshdk opened #58 "How disable the translation for entire package"
Hi,
Hope you are doing well?
How to disable the translation for the entire package - like create a plan , as it creates an extra burden for plan name when I fetch it directly.

$plan = app('rinvex.subscriptions.plan')->create([
    'name' => 'Pro',
    'description' => 'Pro plan',
    'price' => 9.99,
    'signup_fee' => 1.99,
    'invoice_period' => 1,
    'invoice_interval' => 'month',
    'tria

[2019-05-12 06:43] labomatik opened #59 "Cannot use with Cashier"
It's not possible to use laravel-subscription with cashier, there is a conflict when adding the trait to the user model.
Any idea how to solve that?

[2019-05-29 14:07] Omranic commented on #55
Fixed in c1f866c4a586f42d13333d8ad73aa2d3b4320555

[2019-05-29 14:07] #55 closed

[2019-06-01 10:45] Omranic commented on #57
Yes, this package version `rinvex/laravel-subscriptions` v2.0.x requires requires `rinvex/laravel-support` ^2.0.x which requires Laravel v5.8.x .. you may need to consider upgrading your Laravel installation, or use this package's v1.0.x branch.

[2019-06-01 10:45] #57 closed

[2019-06-01 10:47] Omranic commented on #58
Most of our packages depends on translations, and it's honestly easy to use and get what you want, check documentation for the translatable package [here](https://github.com/spatie/laravel-translatable). If you still want to remove translations features completely, consider forking the package 🙂

[2019-06-01 10:47] #58 closed

[2019-06-01 10:51] Omranic commented on #59
Didn't try both together before, but PRs are always welcome 😉

[2019-06-01 10:52] Omranic commented on #56
Payments are out of scope for this package ([ref](https://github.com/rinvex/laravel-subscriptions#considerations)) 🙂

[2019-06-01 11:44] Omranic commented on #49
Oh sorry! This is fixed 10e106890b6226235824e27ac4b44436e26c241b thanks to your highlight @ervaibhavsinghal 🙂

[2019-06-01 11:47] Omranic commented on #50
#1 Yes, still maintained. External help would be appreciated too.
#2 For your convenience, and easy model swapping 🙂

[2019-06-01 11:47] #50 closed

[2019-06-01 11:52] Omranic commented on #54
This should be fixed now, feel free to re-open if you still face any issues.
https://github.com/rinvex/laravel-subscriptions/releases

[2019-06-01 11:52] #54 closed

[2019-07-11 20:01] armandohg opened #62 "Call to undefined method ...\HasMany::byFeatureSlug()"
I'm getting this error when calling getFeatureRemainings()

Am I missing something?

[2019-07-17 18:06] liran-co opened #63 "Use with different model"
Can we use this on a different model (other than User)? We need subscriptions to be on an Account level (each account has multiple Users, so we can't store subscriptions on Users).

[2019-07-22 19:09] rylxes opened #64 "Paying for a plan x times"
How can i pay for a plan x times, e.g monthly bill, but i want to pay for 6 months , ... but i dont want to create a subscription record for it because its a one off occurrence

[2019-07-23 21:57] armandohg commented on #43
Were you able to find a solution for this?

[2019-07-25 06:15] brunohccz commented on #62
I too.. Call to undefined method Illuminate\Database\Eloquent\Relations\HasMany::byFeatureSlug()

[2019-07-29 17:50] karol-pietrzak commented on #62
I've managed to fix it i think. For now it runs ok for me. Scope `byFeatureSlug` seems to be not implemented but it is tried to be used.

Create two classes `PlanSubscriptionUsage` and `PlanSubscription` which extend those from package

**app/Models/PlanSubscriptionUsage.php**
implementation of the missing scope
[code]

**app/Models/PlanSubscription.php**
some extra tweaks to handle case if featur

[2019-07-29 17:53] karol-pietrzak commented on #43
@armandohg please see https://github.com/rinvex/laravel-subscriptions/issues/62#issuecomment-516094623

[2019-07-30 12:07] fatihalp opened #66 "Renew need to calculate remaining days for extend"
If you extend user's package it's renewing 1 month from now. We don't have automatic payment.

If user have 3 weeks already, user lose it's remaning days. We need end_data to be 1 month+3 week to be fair if user renewing before end date.

[2019-08-06 14:49] lutov opened #67 "How to use trial period"
Is trial period feature actually available? There is a field in database and trial period is somehow used in calculations of subscription status. But I failed to find any information about how to start trial but not the subscription itself.

For example, if my plan has 1 month invoice period and a 7-day trial period, and I create a new subscription to this plan, then that subscription would be act

[2019-08-07 09:04] lutov commented on #67
OK, so I performed some tests, and that's exactly what happened: value of the trial_period field is beeing simply added to the ends_at value of the subscription. And method onTrial() on subscription returns "true" whether plan has or hasn't trial_period value bigger then 0.

I don't really get the reason why trial period affects overall subscription length. In my mind it should be separate entitie

[2019-08-12 17:02] abishekrsrikaanth opened #68 "Prorata usage"
I see the plan table has fields for maintaining Prorata config. Is there any docs on its usage or is this feature still pending?

[2019-08-23 06:21] ionutcalara opened #69 "Slug column is unique, documentation uses it as a query"
In the documentation you mention this type of call a lot. This for me meant that i could query the subscription by its slug and not id which is true. But its quite not what you expect as slugs are unique, so this would not be practical if you have multiple users, as the following user would get `main-1` and so on.

[code]

[2019-09-11 06:31] insign commented on #59
I fixed it using the php documentation. It is ugly, but solves the problem in the official way.

[code]

[2019-09-18 14:57] majebry opened #71 "Any plans to support Laravel 6?"
Hi

I'm asking if there are any plans to support Laravel 6?

[2019-09-23 01:52] Omranic commented on #71
All packages are now updated, enjoy!
Thank you for your patience 🙂

[2019-09-23 01:52] #71 closed

[2019-09-24 05:28] insign commented on #59
@Omranic a PR probably would use new functions names, what you thank about that?

[2019-10-22 07:30] izshreyansh opened #72 "Cachable issue"
Hi,
Do you think Cachable should be detached from the core rather than being implicit?
Or we can create an easy switch using config.

Consider this scenario
- Application User selects the subscription plan & makes payment.
- We have created a new entry in `plan_subscriptions`
- Now we want to let user access private pages because he is now a subscriber of our service.

But when we might go to chec

[2019-10-23 15:21] SvenSchoene commented on #72
I'm currently doing the following to disable the caching:

[code]

I'd rather have the option to explicitly enable a caching solution with my subscription feature.
I love this library, though, so oh well. I'm fine implementing a workaround for now. Especially since I don't know what solution to suggest here. It seems to me that the way caching is implemented as a trait of the model, it's pretty mu

[2019-11-18 23:05] insign commented on #59
A made a PR #74 without breaking changes.

[2019-11-24 09:04] yuhua-chen opened #75 "How do I create a plan without trial period?"
In order to create a plan without trial, I set the `trial_period` to zero.
[code]

When a new user registered, the system will auto assign free plan to user.
[code]

I dig into the `newSubscription` function and found the helper service class called `Period`.
[code]
So the root cause might be here. In the constructor of `Period` class:
[code]

[2019-12-20 09:04] mrlinnth opened #77 "FatalThrowableError on php7.4 laravel 6.0"
[code]

Facing above error after upgrading my php version to 7.4.

[2019-12-21 11:21] yalmazkhalil opened #78 "Plan subscription timezone"
Hello,

Thanks for this great package,  we already have [Timezone] column inside Plan subscriptions table, but as I can see, we don`t use it at all, so I think we can make some changes on the Period class in __construcotr function, by passing timezone field from Plan table:

[code]

[2019-12-21 17:01] #78 closed

[2020-01-03 19:51] fignewton commented on #66
I second this. I would also have liked to give users the option to renew before their current subscription ends. for this to work `renew()` (or an alternative method) should add the period the end of the existing one, instead of just calculating from the current date.

[2020-01-05 09:01] ricard-pons commented on #77
Got the same issue with another package earlier today. Make sure you are running php 7.4.

Try to call phpinfo();

In my case, using Laravel Valet, `php -v` was showing 7.4 but the phpinfo() function was using 7.3 due to a conflict with homebrew.

[2020-01-07 03:37] mrlinnth commented on #77
Ok this might be another package's bug/issue. My previous comment was not complete.
The error is actually related to slugabble package as shown below.

![screenshot-2020 01 07-10_00_06](https://user-images.githubusercontent.com/4952597/71866644-4cd0c700-3135-11ea-94b4-00a0f7143b9d.png)

I have changed valet to use php 7.3 and my phpinfo() is also showing 7.3. But this still occurred. I guess I wil

[2020-01-07 03:48] #77 closed

[2020-01-09 08:52] mrlinnth opened #80 "Request for PHP 7.3 and Laravel 6 support version"
Not a lot of other laravel packages are ready for php 7.4.

I have been using your package since last year without any issue.

After php 7.4 is out, this package together with depending packages like (laravel-sluggable and laravel-support, etc) has updated for php 7.4.

I have submitted and closed an issue on this repo recently with a syntax error issue. After tracing the bug, I found out that it

[2020-01-11 15:28] Paulsky commented on #63
I had exactly the same question. After playing around with this package for a couple of minutes, I think this should work out of the box.

@liran-co I think you can use this with a different model other than User. The package uses a polymorphic relation, so it should work (on you Account model). Just use the HasSubscriptions trait on the Account model.

So I guess $planSubscription->user will retu

[2020-01-21 10:23] chrisidakwo opened #81 "Laravel 5.8 Support"
What's the rationale behind enforcing Laravel ^6.0? Why not provide support for, at least from, v5.5 upwards?

Plus your releases are not descriptive enough for one to know where you started enforcing ^6.0 so I can just easily pull the release before that.

[2020-01-31 09:32] Paulsky opened #82 "Package status"
Is this package still active and maintained?

[2020-02-03 09:18] AlexHupe commented on #62
If $featureSlug cannot find in the database, an error occures:

Call to a member function getKey() on null

[2020-02-08 20:40] Omranic commented on #81
Thank you for your question, you can always refer back to the Changelog for details on each release, and to track any changes or Laravel compatibility. If you've suggestions to make it more clear please feel free to send a PR 😉 [CHANGELOG](https://github.com/rinvex/laravel-subscriptions/blob/master/CHANGELOG.md)

[2020-02-08 20:40] #81 closed

[2020-02-08 20:47] Omranic commented on #82
Yes, how can I help? 🙂 Feel free to open this again if you've a question.

[2020-02-08 20:47] #82 closed

[2020-02-08 20:50] Omranic commented on #80
Hello @mrlinnth, thank you for your message.
Honestly I don't understand what's your problem exactly, as this package requires only PHP v7.2 and Laravel v6.x which means you can use it with PHP v7.3 & v7.4 without any issues.

Please feel free to reopen if there's anything we can help you with, or feel free to submit a PR in case you're willing to help fix what you believe is broken 🙂

[2020-02-08 20:50] #80 closed

[2020-02-14 12:00] debuGhy opened #84 "Plan features for relationship table"
Suppose I have a user and user_image table. I have created a plan with feature for limiting the user to upload a particular number of images, then how can I achieve the same? How can I check if the user has uploaded the maximum number of image for that plan? How to check the plan usage? The user will upload the image in user_image table.

[2020-03-04 17:48] darkmat13r opened #85 "Disable caching"
I want to disable the caching.

[2020-03-13 19:33] BoGnY opened #86 "Service Provider not find resources files, because is not loaded correctly"
This is the console log:

[code]

As you can see, package is discovered correctly, but service provider are not loaded:

[code]

I have tried a `composer dump-autoload` command, but nothing changes..
And I have tried even to manually add service provider to `config/app.php`, without success....

Any ideas??

[2020-03-14 10:08] aftandilmmd opened #87 "Laravel 7 Support"
**Any progress in Laravel 7 Support?**

[2020-03-14 22:45] BoGnY commented on #86
@Omranic ?

[2020-03-18 10:47] turkidkil commented on #87
Installation request for laravel/framework ^7.0

https://ibb.co/jMwJZFK

![alt text](https://i.ibb.co/NjNTnzh/Screen-Shot-1441-07-23-at-1-40-46-PM.png)

[2020-03-19 07:08] mscart commented on #86
same problem here ...

[2020-03-19 08:34] mscart commented on #86
@BoGnY i find the bug
first of all your env must be local
APP_ENV=local
then in rinvex/laravel-support/src/Traits/ConsoleTools.php functions
protected function publishesResources(): bool
    {
        return  ! $this->app->environment('production');
    }

must be changed in :

protected function publishesResources(): bool
    {
        return  $this->app->environment('production');
    }

and
pro

[2020-03-19 10:18] mscart commented on #75
@yuhua-chen  hi there.... try to pu hour instead of day at trial interval ... works for me

[2020-03-19 13:21] BoGnY commented on #86
this is not correct, resources **must not** be published in `production` environment!! with your changes, resources is published **only** on `production` environment...

the problem is that resources path are not resolved correctly, but the publishing function is correct!

[2020-03-20 15:26] Omranic commented on #87
All packages has been upgraded to support Laravel v7.x already, please double check and let me know if you still need any help.

[2020-03-20 15:26] #87 closed

[2020-03-20 16:09] Omranic commented on #86
Thank you for your report. This has been fixed in the latest v4.0.4 release.

[2020-03-20 16:09] #86 closed

[2020-03-21 21:04] shadracnicholas commented on #87
Still not working

![Screenshot 2020-03-22 at 00 00 20](https://user-images.githubusercontent.com/46599542/77236548-ad1dc380-6bd0-11ea-9c25-5a912e23b132.png)

[2020-03-21 22:22] shadracnicholas opened #88 "Laravel 7 Still not supported"
![77236548-ad1dc380-6bd0-11ea-9c25-5a912e23b132](https://user-images.githubusercontent.com/46599542/77237725-929d1780-6bdb-11ea-8a0e-e137f3467672.png)

[2020-03-22 10:57] shadracnicholas commented on #88
Solution upgrade to PHP 7.4

[2020-03-22 10:57] #88 closed

[2020-03-23 02:59] yuhua-chen commented on #75
Wow! what a tricky way. I'll give a try. Thanks.

[2020-03-23 15:29] bondan23 opened #89 "Unable to locate publishable resources."
I'm facing this kind of issue when running the publisher

<img width="366" alt="Screen Shot 2020-03-23 at 22 27 56" src="https://user-images.githubusercontent.com/13124714/77333212-a8cee300-6d55-11ea-83aa-4397ffcfa27e.png">

I'm Using Laravel `6.18.2`.
Rinve Version : `3.0.1`
Does anyone facing the same issue like me?

Thank you.

[2020-03-23 15:45] masksshow commented on #89
Hey. similarly.

[2020-03-23 16:13] bondan23 commented on #89
Hey, I think there is something wrong inside the Rinvex v.3.0.1 deps ,
it used `laravel-support` and using the `ConsoleTools` traits, where inside the provider you can see there is a called functions`publishesConfig` and  `publishesMigrations`.

so for temporary fix I just go through inside `laravel-support` directory and did the hard code change.

[code]

and inside inside the `PublishCommand.php

[2020-03-23 16:44] bondan23 commented on #89
I've found the wayaround, change the `APP_ENV` to `production`

[2020-03-25 20:30] Omranic commented on #87
@shadracnicholas this package is now on version 4.x branch, please make sure to update your compoer requirements 🙂

[2020-03-26 07:51] insign opened #90 "Why PHP 7.4"
Why require PHP 7.4 if Laravel 7 requires >7.2 ?

[2020-03-27 15:14] stevensgsp opened #91 "Trait HasSubscriptions | TypeError on $user->subscribedPlans()"
`subscribedPlans()` method in `HasSubscriptions` trait returns a `/Illuminate/Database/Eloquent/Collection` instance, but the signature is
`public function subscribedPlans(): ?PlanSubscription`

HasSubscription trait:
[code]

[2020-03-30 01:59] Omranic commented on #90
We're pushing versions forward, but is you still can't use PHP v7.4 you can fork the package and change the minimum required version 🙂

[2020-03-30 01:59] #90 closed

[2020-03-31 20:23] debuGhy opened #93 "Unable to create a subscription for user"
I tried the below code subscribing a user to the plan but it didn't worked.Kindly help me out in this.
[code]
I get the below error:
[code]

Trace of the error shows these files:
[code]

[2020-04-01 02:57] gautamsolankidev commented on #89
Thanks, It Worked! :)

[2020-04-01 08:57] gautamsolankidev commented on #85
There's a quick fix I found to disable cache
Goto: Vendor\rinvex\laravel-subscriptions\src\Models\PlanSubscription.php

and remove use CacheableEloquent;

[2020-04-01 18:47] debuGhy commented on #93
Resolved the issue.
While creating a plan always set 'invoice_interval' => 'month' and 'trial_interval' => 'day' even if the plan is free.

[2020-04-01 18:47] #93 closed

[2020-04-03 15:31] darkmat13r commented on #85
That will be not be a good idea. As we are changing the dependency file it will be updated whenever i will run composer  update

[2020-04-03 15:37] darkmat13r commented on #85
Here what i did to disable the caching..  If  someone else is facing same issue..
I created my own class Plan, PlanFeature, PlanSubscription and PlanSubscriptionUsage and extended the rinvex respective classes.
Then in the config  rinvex.subscriptions.php. Changed models to my models
[code]
Then in our own classes override this method.
[code]

[2020-04-03 15:37] #85 closed

[2020-04-10 11:28] bondan23 commented on #91
I think it should be return as `Collection` instead of `PlanSubscription`.

[code]

[2020-04-10 12:36] stevensgsp commented on #91
That's right, specifically a `/Illuminate/Database/Eloquent/Collection` instance.

[code]

[2020-04-10 13:36] bondan23 commented on #91
yeps you can override that function and change the return to Collection instead.

[2020-04-11 21:49] stevensgsp commented on #91
Yes, but I open the incidence so that it is corrected, since when inheriting from the Trait I cannot overwrite due to the method signature.

[2020-04-15 15:06] hkan commented on #84
See [Subscription Feature Usage](https://github.com/rinvex/laravel-subscriptions#subscription-feature-usage) section and the next two in the documentation.

[2020-04-21 19:31] elrosi opened #96 "Publish resources migrations and config files not working"
Hi,
in Laraveli 6, following the php artisan rinvex: migrate: subscriptions command, the following error occurs: _There are no commands defined in the "rinvex:migrate" namespace._

There is also no need to execute the php artisan vendor: publish command when installing?

Thank you for your response.

[2020-04-26 16:05] chinedu117 commented on #64
Am thinking of creating a SubscriptionManager wrapper class that manages users subscription

[2020-04-27 17:09] minkbear commented on #96
Got same problems too.

[2020-05-04 17:35] MouadZIANI commented on #96
It will be fixed by changing `APP_ENV` to `production`.

[2020-05-06 07:45] minkbear commented on #96
@MouadZIANI Yes, That's work, Thank you.

[2020-05-06 20:44] yagrasdemonde opened #97 "Year interval"
Hello,

I'm trying to use your nice package on my project.
But I need to use year interval to my plans.

Is it possible ?
Thanks

[2020-05-12 16:07] JoNMii opened #98 "Laravel 7 Support"
Will we have a update?

[2020-05-13 13:46] HosseyNJF commented on #98
This library is already supporting Laravel 7.

[2020-05-13 17:40] debuGhy commented on #84
thanks for the update. Already did that.

[2020-05-13 17:40] #84 closed

[2020-05-15 15:26] debuGhy opened #99 "Check if the user is subscribed to a plan"
I am using the below code:
[code]
But the same doesn't work when the plan is free. How to do it? What changes do I need to make?

[2020-05-15 16:03] debuGhy commented on #99
Created new function to check if the plan is free in PlanSubscription model. Below are the modifications in PlanSubscription.php file. Please correct me if I am wrong.
[code]

[2020-05-15 16:03] #99 closed

[2020-05-20 09:16] besstilahun commented on #98
Am using Laravel 7.11.0, but i can't install your package

[2020-05-21 18:53] lmatab commented on #98
I am trying to install on  Laravel 7.12 and it shows and error aswell.

[code]

[2020-05-22 15:30] emraanzaki commented on #98
Upgrade your PHP to 7.4 and install V4 of laravel-subscription.

[2020-05-23 09:38] besstilahun opened #100 "Misunderstanding with the package"
Hey guys! i want to add subscription functionality to my project. i don't have that much experiance on laravel, and by your docs i have gone from the installation upto adding the triat in my User model. what is challenging for me is, where should i put my *$plan*?, is it in my model or in my controller, please guid me. i have searched for example on your package but found none!

[2020-05-24 16:39] bpuig commented on #98
Maybe it's a bit to soon to require php 7.4 :/

[2020-05-28 18:34] insign commented on #98
I agreed, but the package creator not.

[2020-05-29 06:23] undjike opened #101 "Features are related to only one plan"
Why is a feature related to a plan ? Commonly, many plans can grant access to a feature...
For instance, both VIP and standard plans grant access to **Email Notifications **

[2020-05-29 06:27] undjike commented on #101
Why not think of creating a feature migration and a many to many relation for mapping features and plans ?

[2020-05-30 23:46] Omranic commented on #98
Hello all, thank you for your feedback.

Yes, this package fully supports Laravel 7.x already, but as @emraanzaki highlighted, it requires PHP 7.4 as minimum requirement. If you can't afford that, feel free to form the package for now and lower the minimum PHP version required 🙂

Stay healthy, stay safe.

[2020-05-30 23:46] #98 closed

[2020-06-07 04:52] Omranic commented on #100
Hello @besstilahun
Thank you for your message, to create a plan you can add it from your controller, follow the steps here and you should be ok 🙂  feel free to re-open this issue if you still have further questions!

[2020-06-07 04:52] #100 closed

[2020-06-09 16:50] Omranic commented on #96
This issue has been fixed in recent release v4.x please test and let me know if you still have any other issues or questions. Feel free to re-open this for more discussion.

[2020-06-09 16:50] #96 closed

[2020-06-09 16:50] Omranic commented on #89
This issue has been fixed in recent release v4.x please test and let me know if you still have any other issues or questions. Feel free to re-open this for more discussion.

[2020-06-09 16:50] #89 closed

[2020-06-09 16:58] insign commented on #89
Some months ago this year I lost hours trying to figure out the problem
with migrations. Probably was this issue.

[2020-06-09 17:10] Omranic commented on #72
Thank you so much for this useful discussion.

We've been discussing this recently, and since we got couple complains on baking caching in the core packages, I believe it's right to drop it from the core for more flexibility, and leave it up to the application layer, which is what we actually did in a recent commit https://github.com/rinvex/laravel-subscriptions/commit/830d0c5af6218c95bbcfb937bf6c

[2020-06-09 17:10] #72 closed

[2020-06-09 17:32] Omranic commented on #89
@insign  I hope it's now fixed for you. Let me know if you need any help!

[2020-06-12 06:45] xdimension opened #102 "Only supports Laravel 7?"
Does the newest version only support Laravel 7? Is there any way to install it for Laravel 6 or what version supports Laravel 6?

Error message:
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v6.18.19
    - Conclusion: don't install laravel/framework v6.18.19
    - rinvex/laravel-subscriptions v4.0.0 requires illum

[2020-06-12 10:11] Omranic commented on #102
Thank you @xdimension for your question. Latest version v4.x supports Laravel v7.x and up, and requirer PHP v7.4 upwards. If you want to Laravel v6.x compatibility, then use the v3.x of this package.

[2020-06-12 10:11] #102 closed

[2020-06-18 02:00] BrunoGGM commented on #96
php artisan rinvex:migrate:subscriptions

[2020-06-21 13:09] bendadaniel opened #103 "Is this package still in development and will be in future?"
Is this package still in development and will be in future?

Thanks1

[2020-06-23 06:40] uttamsingh opened #104 "not working with laravel 5.8"
Problem 1
    - Installation request for rinvex/laravel-subscriptions ^4.1 -> satisfiable by rinvex/laravel-subscriptions[v4.1.0].
    - Conclusion: remove laravel/framework v5.8.38
    - rinvex/laravel-subscriptions v4.1.0 requires illuminate/support ^7.0.0 -> satisfiable by illuminate/support[7.x-dev, v7.0.0, v7.0.1, v7.0.2, v7.0.3, v7.0.4, v7.0.5, v7.0.6, v7.0.7, v7.0.8, v7.1.0, v7.1.1, v7.1.2,

[2020-06-24 14:22] schranzer235 commented on #103
Thank you rinvex for this great package and it's amazing flexibility

we also wish ❤️ for that.

[2020-06-26 03:06] cheryllium commented on #62
Is the PR fixing this issue going to be merged? Still encountering this issue with v4.

[2020-06-30 10:04] nipunparallax commented on #104
You are trying to install v4.1 with Laravel 5.8 . You need to use older version of this package for Laravel 5.8. Just run like this
`composer require rinvex/laravel-subscriptions:3.*`

[2020-06-30 10:06] nipunTharuksha commented on #104
You are trying to install v4.1 with Laravel 5.8 . You need to use older version of this package for Laravel 5.8. Just run like this composer require rinvex/laravel-subscriptions:3.*

[2020-06-30 10:08] nipunTharuksha commented on #104
You are trying to install v4.1 with Laravel 5.8 . You need to use older version of this package for Laravel 5.8. Just run like this `composer require rinvex/laravel-subscriptions:3.*`

[2020-07-05 17:47] undjike commented on #104
The problem remained using Laravel 7. I'm not able to install the package.

[2020-07-06 10:25] nipunparallax commented on #104
Well, the package is working with Laravel 7. There is a way to install the package for Laravel 5.8 by installing an older version of this package(3.*). Just give it a try `composer require rinvex/laravel-subscriptions:3.*`

[2020-07-09 23:33] undjike commented on #101
Okay... Let me just close this issue. Seams like it's out of the scope of this project.

[2020-07-09 23:33] #101 closed

[2020-07-11 18:42] debuGhy opened #106 "Issue while recording usage"
I am getting the following error:

Call to a member function recordFeatureUsage() on null.
Controller code looks like this--
[code]
The above works fine in localhost but in live server it gives me error.
Can anyone tell me what is it?

[2020-07-14 06:49] Omranic commented on #104
Yes, @nipunparallax is right.

For now we're supporting only latest stable release of Laravel, which is v7.x
Another way around is to fork the package and lower the dependencies, and it should work fine, I don't think there will be an issue.

[2020-07-14 06:49] #104 closed

[2020-07-17 04:55] Omranic commented on #103
@bendadaniel yes, how can I help?!

@schranzer235 thank you, glad it helps 🙂

[2020-07-17 04:55] #103 closed

[2020-07-18 09:25] nipunTharuksha commented on #106
Check  `$user->imagesCount` is null first

[2020-07-19 04:46] VivekShingala commented on #80
No, it doesn't work with PHP 7.3

[2020-07-22 19:55] bpuig commented on #63
I confirm @Paulsky comment, mine is configured like that, you can use another model giving it the HasSubscriptions trait.

+1 on the renaming, maybe it should be dynamic and take the name from the polymorphic relation. Many of us will have it not related to an user but to a customer, account, team, etc...

[2020-07-23 11:01] Elshaden opened #107 "The Documentation is not Up To Date with the Package"
Hello

I am having many problems following the documentation. , the documentation does not really reflect what is in your code:

I advise any user to dig into the code and find out  usage methods.
or fork it and change your code to adjust to your needs.

The package is a great start for an improved version.

[2020-07-26 14:04] tumelo-mapheto commented on #107
I second your statement; Superb package, but the documentation does need to improve.

[2020-07-27 05:57] MohammadEmoney opened #108 "Dosn't install in Laravel 7"
Hi
I tried to install the package in laravel 7 but I got error

`Problem 1
    - Conclusion: remove laravel/framework v7.21.0
    - Conclusion: don't install laravel/framework v7.21.0
    - rinvex/laravel-subscriptions v3.0.0 requires illuminate/database ^6.0.0 -> satisfiable by laravel/framework[6.x-dev], illuminate/database[6.x-dev, v6.0.0, v6.0.1, v6.0.2, v6.0.3, v6.0.4, v6.1.0, v6.10.0, v6.11.

[2020-07-29 10:46] bpuig commented on #108
You have to install v4 , not v3 (this one is not compatible with laravel 7)

[2020-08-03 14:39] Omranic commented on #108
True, Laravel v7.x is supported in v4.x of this package, which also requires PHP v7.4 or up.

[2020-08-03 14:39] #108 closed

[2020-08-03 14:44] Omranic commented on #80
As of this moment, Laravel v7.x is supported in v4.x of this package, which also requires PHP v7.4 or up.

[2020-08-05 10:41] bpuig opened #109 "Slugs from translations may rise issues"
Hello,
I'm developing a project and now I'm starting to get knee deep into the package. I've found something that might create problems: slugs.

Docs say that slugs can be used as an identifier "key" to a subscription. (See examples: `$user->newSubscription('main', $plan)`, `$user->subscription('main')->canUseFeature('listings')`).
So, slug it's kind of "hardcoded" into our applications to identif

[2020-08-09 18:58] ziachand commented on #62
also getting this issue

[2020-08-11 18:01] undjike commented on #68
I have the same preoccupation. Need documentation or usage examples.

[2020-08-15 09:55] ipanardian opened #111 "Migration Problem when upgrading the version"
Hello,
I was upgrade laravel  from 5.8 to 7.25 but I've problem when upgrading rinvex laravel subscription from 2.1 to 4.1. I have a problem with migration.

When run CI/CD pipeline this error occurs:

`SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'plans' already exists`

Because i've already that table but i want to run migration for update my own table.

Existing file in my mig

[2020-08-15 10:04] ipanardian commented on #111
Is it good idea to insert 2020_01_01_000001_create_plans_table to the database?

[2020-08-15 11:11] ziarv opened #112 "subscribe multiple plans get remaining feature from all subscibed plans"

[2020-08-24 09:22] Omranic commented on #111
Sorry for the inconvenience, yes inserting `2020_01_01_000001_create_plans_table` into `migrations` database table should solve it.

[2020-08-24 09:22] #111 closed

[2020-08-26 11:01] Nandi1234 opened #113 "When creating new plan in pgsql getting "error operator does not exist: json = unknown""
SQLSTATE[42883]: Undefined function: 7 ERROR:  operator does not exist: json = unknown
LINE 1: select count(*) as aggregate from "plans" where "name" = $1
                                                               ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts. (SQL: select count(*) as aggregate from "plans" where "name" = Pro)

[2020-09-02 20:21] malicoo opened #114 "Can't customize the default migrations"
I published and edited  the default migrations but when I run artisan migrate, the migrations files provided by the package is picked over the edited migrations.

Especially for devs using uuid.

[2020-09-02 20:26] malicoo commented on #114
[code]

Commenting the line above solved the problem but someone needs to make a pull request for this.

[2020-09-02 20:48] malicoo commented on #114
Sorry.
False alarm

[2020-09-02 20:48] #114 closed

[2020-09-07 10:04] Omranic commented on #114
You can set `autoload_migrations` to `false`

https://github.com/rinvex/laravel-subscriptions/blob/master/config/config.php#L8

[2020-09-13 12:02] supungs opened #115 "Cannot use with multiple plans"
Is this package only useful when there's only a single plan? When multiple plans have the same feature, they get different slugs, which makes it impossible to check whether a user has a permission or not.

[2020-09-17 08:12] duongtdvn commented on #62
this line should be replaced:
[code]
with:
[code]

[2020-09-24 12:16] julienarcin commented on #115
Same
Duplicate of #101

[2020-09-24 15:42] hgferreira opened #117 "Update to support Laravel 8"
Hi,

Is it possible to update to support Laravel 8? It should be a quick fix.

Thank you!

[2020-09-25 02:51] wimil commented on #117
same....

[2020-09-25 16:13] Crisis2010 commented on #117
+

[2020-09-26 07:57] Djuki commented on #117
+1

[2020-09-27 11:30] masitings commented on #117
Up up

[2020-09-28 16:49] alikemalcivelek commented on #117
+1

[2020-09-28 18:30] nivv commented on #117
I've added a pull request, there are no tests, and I have not tested the package after the updates. #118

[2020-10-01 11:56] akhzarjaved commented on #32
Got any solution on how to update saveMany ? @tarangpatel61

[2020-10-02 11:56] schranzer235 commented on #117
+🥰

[2020-10-06 10:21] bassem-shoukry commented on #117
any updates?

[2020-10-06 11:46] nivv commented on #117
Project seems dead. I'd look for a replacement, or fork it and maintain it yourself

[2020-10-06 16:34] bassem-shoukry commented on #117
okay thanks

[2020-10-08 06:01] insign commented on #117
I don't belivie it is dead. Well, at least the main reason, which is abandon the project. The author don't give the proper attention for years and his updates after months are LIKE "go f... everybody, now I want php 7.4, just because it looks good, if you want..." (#90, #98)

[2020-10-08 09:54] masitings opened #120 "Additional Field on Plan"
i have a question about How do i put additional field in the plan ? Like example, i want to put the Paypal Subscription ID in the plan so there i don't have to create another model and relation for that. Anyone know about this or do you have alternative solution for this problem ?

[2020-10-13 11:26] schranzer235 commented on #117
First off, what i did, i wrote an kind email directly to rinvex without a response.

In case it could help anyone too. Here is my solution which has a few downsides and is not perfect at all.

1. Modify your composer.json

[code]

2. Create a directory /support/rinvex or anything you would like
3. Move the src Code from rinvex packages into their corresponding directory ( /support/rinvex/Categorie

[2020-10-14 16:20] dzoukou commented on #120
Just create a migration that add another field in the table. After that you can create a model that extends the plan model in vendor

[2020-10-28 11:51] #120 closed

[2020-10-30 16:46] binaryk opened #122 "Laravel 8 - another package"
Hi there,

considering this package is not maintained for a long time and people didn't get any feedback on https://github.com/rinvex/laravel-subscriptions/issues/117, I forked and added support for Laravel 8.

You may use: `binarcode/rinvex-laravel-subscriptions@4.2.1` for Laravel 8 until @Omranic will update this.

Check it out: https://github.com/BinarCode/laravel-subscriptions

Thanks.

[2020-10-31 05:28] andriasmelianus commented on #62
Hi @karol-pietrzak, thanks for the fix!
I found this part in `PlanSubscriptionUsage` is better like this:
[code]
Just in case we need to check a feature which does not exist under a plan, and we need a `FALSE` value in return.
And avoid error: `Call to a member function getKey() on null...`

[2020-11-02 23:14] insign commented on #122
Do you fix https://github.com/rinvex/laravel-categories/issues/85 and https://github.com/rinvex/laravel-subscriptions/issues/117 questions?

[2020-11-04 04:07] jlsodai commented on #48
You can query `getFeatureBySlug` directly:
$plan->features()->where('slug', 'referencing_my_places_and_my_programming')->first()

[2020-11-04 09:18] ayoob-faraji opened #123 "Unable to locate publishable resources"
Hi there
I have installed the package successfully, but when I run this command :
php artisan rinvex:publish:subscriptions

I get this error :
Unable to locate publishable resources.

Who can help me?

[2020-11-05 05:55] ipanardian opened #124 "Duplicate Slug"
Failed: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'one-month-free-trial-1826' for key 'plan_subscriptions_slug_unique'.

How to prevent this? because the slug is generated automatically

[2020-11-08 16:32] andrewl94 commented on #115
Hi!
The linked duplicate is inconclusive and the @supungs got no real answer. I'll submit my message here since it still open.

Reading #101 The same applies to my perception. An project where we have the plans Tier 1, Tier 2 and Tier 3, where all of them have access to "Feature 1", but only Tier 2 and Tier 3 have "Feature 2", today we need to rely on the Name of the feature, not the Unique Identi

[2020-11-10 18:17] hirenreshamwala commented on #122
Publish fail in `binarcode/rinvex-laravel-subscriptions`.

Getting following error when execute `php artisan rinvex:publish:subscriptions`

"Unable to locate publishable resources."

[2020-11-10 19:59] hirenreshamwala commented on #122
You should to replace package name in `SubscriptionsServiceProvider`

[code]

TO

[code]

[2020-11-11 09:03] binaryk commented on #122
@hirenreshamwala addressed it. Check it out: https://github.com/BinarCode/laravel-subscriptions/releases/tag/4.2.6. I'm using it on production.

[2020-11-15 07:15] mojtabaahn commented on #117
+1

[2020-11-16 16:35] patiefariey commented on #122
Still giving the same error.

"Unable to locate publishable resources."

have installed the latest version

[2020-11-23 23:02] andriasmelianus commented on #75
Hi, I think the Period class is still put the trial duration even when we set the trial_period to 0.
What do I do to overcome this problem is to create a new method also called `newSubscription` with a little modification:
[code]
You can see the new parameter called `$isTrial` you can provide to determine that the subscription is using trial period or not.

[2020-12-03 07:55] smkhan321 commented on #122
@binaryk how did you managed to work it out, I am also getting the same error

[2020-12-03 11:31] smkhan321 commented on #122
temporarily made it work by doing following steps, in case someone needs it

copied config from the package into main `configs` directory renamed it to `rinvex.php` and modified following
`<?php

declare(strict_types=1);

return [

    'subscriptions' => [
        // Manage autoload migrations
        'autoload_migrations' => false, // changed to false to follow local migrations path

        // S

[2020-12-19 21:40] dranes commented on #62
It is valid to use something more SQLish?

[code]

[2020-12-22 03:27] dependabot-preview[bot] opened #126 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/rinvex/update-logs/60247952).

[2020-12-23 03:21] dependabot-preview[bot] opened #127 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/rinvex/update-logs/60417917).

[2020-12-23 03:21] #126 closed

[2020-12-25 03:28] dependabot-preview[bot] opened #129 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/rinvex/update-logs/60726308).

[2020-12-25 03:28] #127 closed

[2020-12-25 03:30] #129 closed

[2020-12-25 03:49] Omranic commented on #122
Hello, thank you for your patience, this is now done! Check latest release!!

This package now supports Laravel v8, PHP v8, Composer v2, enjoy 🥳

CC @insign @hirenreshamwala @binaryk @smkhan321 @patiefariey

[2020-12-25 03:49] #122 closed

[2020-12-25 03:55] Omranic commented on #117
Hello, thank you for your patience, this is now done! Check latest release!!

This package now supports Laravel v8, PHP v8, Composer v2, enjoy 🥳

CC @mojtabaahn @schranzer235 @insign @bassem-shoukry @nivv @schranzer235 @alikemalcivelek @masitings @Djuki @Crisis2010 @wimil @hgferreira

[2020-12-25 03:55] #117 closed

[2020-12-28 20:57] binaryk commented on #122
Huh, thanks @Omranic , thankfully you're good!

[2020-12-29 19:05] bassem-shoukry commented on #117
thanks @Omranic

[2020-12-30 18:21] Jahchap opened #130 "How to implement Special discounts"
Please I am new to this awesome package and would like to know how to modify it to include discounts using coupons.

[2020-12-31 05:29] Omranic commented on #123
This has been fixed, please try latest release :)

[2020-12-31 05:29] #123 closed

[2021-01-04 00:26] Omranic commented on #63
Thank you for your patience, I confirm @Paulsky 's response.

In fact this discussion make sense, and I've renamed that relationship to `subscriber` instead of `user`.

Please note this is a breaking Change, if you have this package already installed, you'll need to rename one db field manually (check the changes in plan_subscriptions_table migration)

[2021-01-04 00:26] #63 closed

[2021-01-04 18:43] Omranic commented on #32
You can update plans easily like any eloquent model https://laravel.com/docs/8.x/eloquent#updates

If you're asking about changing subscription plan, you can check this https://github.com/rinvex/laravel-subscriptions#change-the-plan

[2021-01-04 18:43] #32 closed

[2021-01-04 21:27] Omranic commented on #130
Discounts & coupons are kind of more related to payments, which is out of this package's scope at the time being. Please check these considerations in the docs https://github.com/rinvex/laravel-subscriptions#considerations

But I'm willing to re-consider if someone is willing to propose a draft PR. Thank you for using this package, let me know if you need any help.

[2021-01-04 21:27] #130 closed

[2021-01-05 01:21] insign commented on #130
Looks like a service for the gateway... Stripe, for instance.

Em seg, 4 de jan de 2021 18:27, Abdelrahman Omran <notifications@github.com>
escreveu:

[2021-01-05 09:04] llioorkd commented on #26
Same issue here... if I created new plan subscription and immediately want to check if the user can USE the feature `canUseFeature` I got the error because we check "expired()" on  a null (we have no usage YET.

Same for `getFeatureUsage`

[2021-01-05 22:12] Omranic commented on #48
Thank you for your patience, this is now fixed in https://github.com/rinvex/laravel-subscriptions/commit/0714e737f8738b90e52fbd983478f6ba6f85757f

The right code to use is `    $amountOfPictures = $plan->getFeatureBySlug('referencing_my_places_and_my_programming')->value;`

[2021-01-05 22:12] #48 closed

[2021-01-11 10:49] h-zone opened #131 "not everything is perfect, but i like this source code."
- there are not enough files included in the package to manage data through Laravel Nova

- I would like to see integration files in laravel nova

- as a result, we get a compressed dataset for each plan. at the same time, it is necessary to take into account that if the property is absent, but is necessary for the operation of the system, the property must return null

- really a discussion of th

[2021-02-05 08:08] mrmostafaeei opened #133 "I can't install package on laravel 8"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - rinvex/laravel-support v5.0.1 requires felixkiss/uniquewith-validator ^3.4.0 -> satisfiable by felixkiss/uniquewith-validator[3.4.0].
    - rinvex/laravel-support v5.0.3 requires rinvex/tmp-watson-validating ^6.0.0 -> satisfiable by rinvex/tmp-watson-validating[6.0.0, v6.0.1, 6.0.2, 6.0.3].
    - rinvex/l

[2021-02-06 14:18] Omranic commented on #133
That was an issue with one of the dependencies `rinvex/tmp-felixkiss-uniquewith-validator`, which is now fixed, please try again and let me know if you still have any issues.

[2021-02-06 14:18] #133 closed

[2021-02-12 04:38] JGamboa commented on #97
month , 12 period.

[2021-02-14 10:04] lucianholt97 opened #134 "[Bug] Period class has default length 1 when passing 0"
Having a plan without a trial period, the trial_period is 0.
Lines 60-63 in the Period class:
[code]
This leads to a confusing default trial length of one day in my case.
Are there any reasons you chose to have this if statement?

Nevertheless, thank you for providing this package. It is very helpful.

[2021-02-17 08:49] DJEDAINI opened #135 "[enhacment] monthly and yearly subscription"
the invoice_interval and invoice_period should be related with the subscription not the plan, to manage monthly and yearly subscription

[2021-02-17 13:27] DJEDAINI opened #136 "[Bug] PlanSubscription has no scope method: byFeatureSlug"
Call to undefined method Illuminate\Database\Eloquent\Relations\HasMany::byFeatureSlug()

[2021-02-17 13:48] DJEDAINI opened #138 "[Bug] Call to a member function expired() on null"
this bug happen when the plan could't use the feature and the package tried to determinate if the use is expired or not yet so you could use the feature

[2021-02-18 11:12] Omranic commented on #135
@DJEDAINI thank you, I would be happy to consider a PR for that :)

[2021-02-18 11:12] #135 closed

[2021-02-18 11:24] Omranic commented on #43
Similar to #43 #48 #62 #65 #136 #137 and was fixed previously on 0714e73, the fix already exists on the `develop` branch.

I'll tag a new version to merge the fix from `develop` to `master` 👍

Check here for details
https://github.com/rinvex/laravel-subscriptions/blob/c11e6bb85fcd5dcf706cb7544e0d375654868bbb/src/Models/PlanSubscriptionUsage.php#L132-L137

[2021-02-18 11:24] #43 closed

[2021-02-18 11:29] Omranic commented on #62
Similar to #43 #48 #62 #65 #136 #137 and was fixed previously on 0714e73, the fix already exists on the `develop` branch.

I'll tag a new version to merge the fix from `develop` to `master` 👍

Sorry for the delay, and thank you for your patience!

@armandohg
@brunohccz
@karol-pietrzak
@AlexHupe
@cheryllium
@ziarv
@duongtdvn
@andriasmelianus
@dranes

Check here for details
https://github.com/rinvex

[2021-02-18 11:29] #62 closed

[2021-02-18 11:31] Omranic commented on #136
Similar to #43 #48 #62 #65 #136 #137 and was fixed previously on 0714e73, the fix already exists on the `develop` branch.

I'll tag a new version to merge the fix from `develop` to `master` 👍

Sorry for the delay, and thank you for your patience!

@DJEDAINI

Check here for details
https://github.com/rinvex/laravel-subscriptions/blob/c11e6bb85fcd5dcf706cb7544e0d375654868bbb/src/Models/PlanSubscript

[2021-02-18 11:31] #136 closed

[2021-03-04 10:18] wojciechgabrys opened #139 "[Proposal] Making it possible to extend the current subsciption period"
Hello,

I'd like to propose a new feature that would fix #66 by allowing to extending an existing subscription (by keeping its remaining period and adding a new interval to the end) instead of starting a new interval the moment the `renew()` method is called.

### Current problem

1. January 1st: The user starts a new monthly subscription that ends on February 1st.
2. January 20th: User gets notif

[2021-03-04 10:19] tjhunkin opened #140 "This project is dead"

[2021-03-12 11:47] tolgatasci opened #141 "mongodb support"
Hello, I've made some changes for myself. This was necessary for me as I was using mongodb. If our system is mongodb, you can also use it.
All almost the same uses. Have a look at user.php.

We are grateful to the person who wrote this repository. We would be very happy if support for Mongodb is provided.

[https://www25.zippyshare.com/v/uznrzm0J/file.html
](https://www25.zippyshare.com/v/uznrzm0J

[2021-03-13 09:45] Omranic commented on #141
Thank you @tolgatasci , I would be happy to look into the changes if you can submit a PR to this repo :)

[2021-03-13 09:45] #141 closed

[2021-03-13 10:09] Omranic commented on #140
It's funny that someone who never contributed to the project in any way or form, never posted an issue, never asked for help, never helped someone else to just open a ticket with no constructive criticism, and just saying the project is dead! Regardless of being a false and wrong claim, **what's the point from your claim anyway?!**

Buddy, if you want to help, please go ahead, I would love to have

[2021-03-13 10:09] #140 closed

[2021-03-13 10:09] Omranic commented on #140
It's funny that someone who never contributed to the project in any way or form, never posted an issue, never asked for help, never helped someone else to just open a ticket with no constructive criticism, and just saying the project is dead! Regardless of being a false and wrong claim, **what's the point from your claim anyway?!**

Buddy, if you want to help, please go ahead, I would love to have

[2021-03-13 10:10] Omranic commented on #140
It's funny that someone who never contributed to the project in any way or form, never posted an issue, never asked for help, never helped someone else to just open a ticket with no constructive criticism, and just saying the project is dead! Regardless of being a false and wrong claim, **what's the point from your claim anyway?!**

Buddy, if you want to help, please go ahead, I would love to have

[2021-03-13 10:10] Omranic commented on #140
It's funny that someone who never contributed to the project in any way or form, never posted an issue, never asked for help, never helped someone else to just open a ticket with no constructive criticism, and just saying the project is dead! Regardless of being a false and wrong claim, **what's the point from your claim anyway?!**

Buddy, if you want to help, please go ahead, I would love to have

[2021-03-13 10:18] tjhunkin commented on #140
Is it wrong to assume that it's dead if you don't respond to issues?
Why create a package and not support it?

It's a major frustration for someone to use your package, they run into an issue then there's just radio silence.

How about you put more effort into responding to issues?

https://github.com/rinvex/laravel-subscriptions/issues/124 ipanardian opened this issue on Nov 5, 2020
https://githu

[2021-03-13 10:26] Omranic commented on #140
You didn't answer the simple question above: **what's the point from your claim anyway?!**
How's your post helping the project or any of its users?! Educate me..

Debating with you won't add any value to this package or anyone else.
**Again buddy, if you want to help, go ahead and at least triage the issues you mentioned above, so we can prioritize what's critical and what's not, or at least have

[2021-03-14 05:56] Omranic commented on #124
Thank you for your question and your patience.

This package uses [spatie/sluggable](https://github.com/spatie/laravel-sluggable#usage), so you can check the usage guide in order to tweak the slugs logic. By default we don't allow duplicate slugs, but if you want to change that behavior you may need to publish and adjust your migrations, and the models as well.

Let me know if you need any further

[2021-03-14 05:56] #124 closed

[2021-03-14 06:09] Omranic commented on #26
Thank you for your patience, this is now fixed in https://github.com/rinvex/laravel-subscriptions/commit/d4327a57e8ef813a1062c58d2a02c9c10ac7890c

[2021-03-14 06:09] #26 closed

[2021-03-14 06:09] Omranic commented on #138
Thank you for your patience, this is now fixed in https://github.com/rinvex/laravel-subscriptions/commit/d4327a57e8ef813a1062c58d2a02c9c10ac7890c

[2021-03-14 06:09] #138 closed

[2021-03-14 08:11] Omranic commented on #75
Thank you all for your patience, this is now fixed in https://github.com/rinvex/laravel-subscriptions/commit/a83c765e227e172d5e893983c082db8e080ba6eb

[2021-03-14 08:11] #75 closed

[2021-03-14 08:12] Omranic commented on #134
Thank you for your patience, this is now fixed in https://github.com/rinvex/laravel-subscriptions/commit/a83c765e227e172d5e893983c082db8e080ba6eb

Now it should add skip trial period if it's set to `0` as expected.

[2021-03-14 08:12] #134 closed

[2021-03-14 08:18] Omranic commented on #139
Thank you @wojciechgabrys for your detailed proposal, I like it, and I agree that we need this logic.

I would be happy to consider any PRs adjusting the current logic to accommodate this new feature. Any help would be appreciated.

[2021-03-14 08:18] #139 closed

[2021-03-14 08:19] Omranic commented on #66
Thank you @fatihalp for highlighting this, and I agree that we need to tweak the current logic to include this feature. This is related to #139

I would be happy to consider any PRs adjusting the current logic to accommodate this new feature. Any help would be appreciated.

[2021-03-14 08:19] #66 closed

[2021-03-14 08:21] Omranic commented on #131
Thank you @h-zone for your feedback.

Currently we're not using Laravel Nova, but I would be happy to consider any PRs adding integration for this package with it 🙂

[2021-03-14 08:21] #131 closed

[2021-03-14 08:27] Omranic commented on #101
Actually I like this idea, and I'm considering it in a future release.

I would be happy to consider PRs adding this adjustment to the package 🙂

[2021-03-14 08:30] Omranic commented on #97
@JGamboa answer is correct 👍

[2021-03-14 08:30] #97 closed

[2021-03-15 19:17] insign commented on #107
PR are always welcome. Even if it is just a typo.

[2021-04-01 10:17] WNeuteboom opened #144 "Does it work with multiple users?"
Maybe i'm using it wrong, but I think it doesn't really work with multiple users.

I created a plan, with features.
Adding plans to user goes fine.

But when searching $user->subscription('main')->canUseFeature('listings') it returns null;
That has to do with all new user subscriptions get main-1, main-2, main-3.
So i cant search for subscribtion('main') for user 3. Because it has other slug.

Now

[2021-04-08 12:45] abdullahessam opened #145 "column user in subscriptions.models.plan_subscription is changed !"
i got an error after i make composer update about column subscriber not found after debuging i found that
rinvex.subscriptions.models.plan_subscription  table
            $table->morphs('subscriber');
changed from user to  subscriber
and the subscription function in the HasSubscriptions trait

the solution for me i just override the  subscriptions relation function  in my model morph column name t

[2021-04-18 12:52] #109 closed

[2021-04-18 21:34] Aslam97 opened #146 "What the different between cancels_at and canceled_at?"
I see column cancels_at but I cant find any method using it. is this column really unused?
btw great package!

[2021-05-03 03:20] ipanardian opened #148 "Could not install rinvex/tmp-felixkiss-uniquewith-validator"
Hi,
Suddenly i got this on my pipeline build. Is there something wrong? can't find rinvex/tmp-felixkiss-uniquewith-validator
![image](https://user-images.githubusercontent.com/415225/116838538-e9f02280-abf8-11eb-99d5-c356314fa2cc.png)

Please fix this ASAP, thanks

[2021-05-03 03:27] granitebps opened #149 "Error when install"
Got this error message when installing this package
![image](https://user-images.githubusercontent.com/44967965/116838731-ae098d00-abf9-11eb-88b3-4ddebd12606b.png)
The https://github.com/rinvex/tmp-felixkiss-uniquewith-validator package is not found

[2021-05-05 06:59] boryn commented on #149
I just installed it with `composer require rinvex/laravel-subscriptions` and had no issues.

[2021-05-07 02:56] Omranic commented on #146
Thank you, yes currently unused.

[2021-05-07 02:56] #146 closed

[2021-05-07 04:54] Omranic commented on #149
@granitebps please install latest stable release, you should not get any issues.

[2021-05-07 04:54] #149 closed

[2021-05-07 04:58] Omranic commented on #148
Install latest stable release, you shouldn't get any issues. This is fixed already and is working fine.

`composer require rinvex/laravel-subscriptions`

[2021-05-07 04:58] #148 closed

[2021-05-07 05:23] Omranic commented on #145
Sorry about that breaking change. Details about the change, and a proposed solution could be found here https://github.com/rinvex/laravel-subscriptions/commit/c47c8567bb81f302a8a992b1030c414392706a02

[2021-05-07 05:23] #145 closed

[2021-05-07 05:26] Omranic commented on #144
Short answer: Yes it work with multiple users.

Long answer: This is related to another issue (not fixed yet), reported in #69 & #76 (will fix it soon)

[2021-05-07 05:26] #144 closed

[2021-05-08 06:57] Anichur25 opened #150 "How to clear Eloquent cache in rinvex/subscription"

[2021-05-11 02:54] insign commented on #148
`composer remove rinvex/laravel-subscriptions`

then

`composer require rinvex/laravel-subscriptions`

worked for me.

[2021-06-09 00:19] Aslam97 opened #151 "v5 support for laravel 7"
[code]

[2021-06-13 15:07] yukebrillianth opened #152 "SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name '' On Migrate"

[2021-06-14 16:00] Omranic commented on #151
If you want to use this package with older version of Laravel, then try v4.x

For the latest release, we're only supporting latest stable release of Laravel which is currently v8.x

[2021-06-14 16:00] #151 closed

[2021-06-14 16:04] Omranic commented on #150
What eloquent cache do you mean?

This package doesn't use any custom caching strategies, if you're using Laravel cache, then you can manage it as usual. Check the official Laravel Cache documentation here https://laravel.com/docs/8.x/cache

And feel free to reopen this issue if you still need any further assistance.

[2021-06-14 16:04] #150 closed

[2021-06-14 16:11] Omranic commented on #152
Make sure all files are correctly in place, and check db table names in config file https://github.com/rinvex/laravel-subscriptions/blob/master/config/config.php#L11-L18

[2021-06-14 16:11] #152 closed

[2021-06-14 16:23] Anichur25 commented on #150
@Omranic  thank you so much for your valuable suggestion.

[2021-06-19 05:10] yefta-me opened #153 "Unable to locate publishable resources."
Hi,

when running `php artisan rinvex:publish:subscriptions` I got the following message:

[code]

Already ran dumpautoload and artisan clear-compiled. I'm using php7.3.
Thank you!

[2021-06-19 08:21] muhamedRadwan opened #154 "Error in downloading dependency"
When I install laravel subscriptions
I get this
 download rinvex/tmp-felixkiss-uniquewith-validator from dist: The "https://api.github.com/repos/rinvex/tmp-felixkiss-uniquewith-validator/zipball/004ec4ae0995c9feeafc463d247a2e357d98afa5" file could not be downloaded (HTTP/1.1 404 Not Found)

 Installing rinvex/tmp-felixkiss-uniquewith-validator (3.4.3): Cloning 004ec4ae09
Cloning failed using an ss

[2021-07-01 22:01] JayteeNZ commented on #153
+1 for this. v3

[2021-07-03 17:41] Omranic commented on #153
Thank you for your question, however v3 is no longer supported, but you can backport the updates from v5 if you want, as this is already fixed in latest releases.

[2021-07-03 17:41] #153 closed

[2021-07-05 02:24] yefta-me opened #155 "Wrong morph columns name of migrated table"
When I run `php artisan migrate`, I don't know why, but the result of this line: `$table->morphs('subscriber');` is creating `user_type` and `user_id` instead of `subscriber_id` and `subscriber_type`. on `plan_subscriptions` table. I didn't edit anything.

[2021-07-07 09:55] muhamedRadwan commented on #154
@Omranic @ppalmeida  any help ?

[2021-07-07 10:48] ppalmeida commented on #154
Hey, @muhamedRadwan. Thank you for your message.

Actually I tried to use this package but in the end I implemented it by hand in my project. So I can't help you, since I'm not using it. But I know rinvex people are awesome and I hope they'll help you asap.

Cheers!

[2021-07-12 22:53] Omranic commented on #154
Thank you @ppalmeida

Hello @muhamedRadwan, you're probably using an old version of the package, please use the latest release v5.x as that not-found dependency is no longer required by the latest release. Make sure you've the required PHP version v7.4 at least and Laravel v8.x

[2021-07-12 22:54] #154 closed

[2021-07-22 09:23] abanghendri opened #157 "need flexible pricing for plan and addon implementation example"
Hi, thanks for the awesome package.
I have some questions, how to use this package for (let's say):

1. user can get different prices on different time periods (like: $5/month, but if you billed annually you will be charged $3/month as well)
2. user can choose addons for the plans (think like hosting, we can choose addons like domain, Cpanel, SSL, or other services and will increase the invoice)

[2021-07-22 16:22] Omranic commented on #157
Thank you @abanghendri

Well, these are good questions, here's my feedback:

1. This is a nice feature planned for the future, but currently it's not implemented. I'd be happy to look into any PRs adding this to the package.

2. The addons idea is implemented as plan features, but missing the pricing modification, I believe this should be easy to add support for pricing as well. Like the previous

[2021-07-22 16:22] #157 closed

[2021-07-23 08:06] abanghendri commented on #155
quite simillar to me,
in my case, the migration always produce `subscriber_id` column with bigint even though I change `$table->morphs('subscriber');` to `$table->uuidMorphs('subscriber');`

How to resolve this?

[2021-07-26 13:56] mirza4027 opened #159 "Renew Subscription and try to use record feature usage, Unique Key constraint voilation"
I am trying to renew a plan subscription, once it's renewed on trying to call the recordFeatureUsage method in PlanSubscription Model gives me the unique constraint violation. Since renewing the plan subscription leads to soft delete of plan subscription usage, therefore it does not allow new entry to be created in plan_subscription_usage table. Is there any workaround for it?

[2021-07-26 14:11] mirza4027 commented on #101
public function getFeatureLimit($subscriptions, $featureType)
  {
    $limit = 0;
    if(!empty($subscriptions)) {

      foreach ($subscriptions as $subscription) {

        $plan = app('rinvex.subscriptions.plan')->find($subscription->plan_id);
        $hasFeatureType = $plan->features()->where('slug', $featureType . '_' . $plan->slug)->get();
        if(!empty($hasFeatureType)) {
          $lim

[2021-07-26 14:12] mirza4027 commented on #115
public function getFeatureLimit($subscriptions, $featureType)
{
$limit = 0;
if(!empty($subscriptions)) {

  foreach ($subscriptions as $subscription) {

    $plan = app('rinvex.subscriptions.plan')->find($subscription->plan_id);
    $hasFeatureType = $plan->features()->where('slug', $featureType . '_' . $plan->slug)->get();
    if(!empty($hasFeatureType)) {
      $limit += $subscription->getFeatur

[2021-08-04 15:09] lcandellier opened #161 "Problem with surcharging models (tenancy case)"
Problem : i'm in multi-tenancy architecture with database by client. I've changed models in config to use supercharged models with connection forced on central database.

`use Rinvex\Subscriptions\Models\Plan as parentPlan;
class Plan extends parentPlan
{
    protected $connection = 'central';
} `

All is working, but when I call the recordFeatureUsage with a subscription on central database, the

[2021-08-04 15:51] lcandellier opened #162 "Problem with surcharged models (multi-tenancy architecture)"
Problem : i'm in multi-tenancy architecture with database by client. I've changed models in config to use supercharged models with connection forced on central database.

`use Rinvex\Subscriptions\Models\Plan as parentPlan;
class Plan extends parentPlan
{
    protected $connection = 'central';
} `

All is working, but when I call the recordFeatureUsage with a subscription on central database, the

[2021-08-04 16:06] lcandellier commented on #162
The problem is in rules, ;-)

            'subscription_id' => 'required|integer|exists:'.config('rinvex.subscriptions.tables.plan_subscriptions').',id',
            'feature_id' => 'required|integer|exists:'.config('rinvex.subscriptions.tables.plan_features').',id',

so I will surcharge the constructor with specified rules ;-)

[2021-08-04 16:23] #162 closed

[2021-08-17 04:51] harshad4118 opened #163 "sort_order doesnt take the value i have given it take increment value automatically in version 4.1.0 any help ?"
in version 4.1.0 sort_order in plan and planfeatures dosent take custom it take increment value automatically  in version 4.1.0 any help ?

[2021-08-17 04:54] harshad4118 commented on #163
in version 4.1.0 sort_order in plan and planfeatures dosent take custom it take increment value automatically  in version 4.1.0 any help ?

[2021-08-26 18:18] anubhav217 opened #165 "Wrong morph columns name of migrated table"

[2021-08-30 18:38] anubhav217 opened #166 "Mutiple currencies and prices"

[2021-08-30 23:01] yogithesymbian opened #167 "whats different starts_at and trial_ends_at"
my json
[code]

and why my renew() `// $cancel = $user->subscription($slug)->cancel();`
and didnt update the `trial_ends_at`  into 7 day against (renew) , only `touch updated_at` .

[2021-08-31 21:46] Omranic commented on #163
I'm not sure that's accurate. If I understand correctly, both Plan & PlanFeature models takes custom values for `sort_order`, as it's fillable and could get any valid numeric value passed. Check:
https://github.com/rinvex/laravel-subscriptions/blob/master/src/Models/Plan.php#L99
https://github.com/rinvex/laravel-subscriptions/blob/master/src/Models/PlanFeature.php#L74

Please let me know if that's

[2021-08-31 21:46] #163 closed

[2021-08-31 21:56] Omranic commented on #165
@anubhav217 more details please 🙂

[2021-08-31 21:56] #165 closed

[2021-08-31 21:59] Omranic commented on #155
@yefta-me @abanghendri have you exported/published migrations?

If yes, then maybe you're running an outdated migrations because this field `subscriber` has been changed in a previous release. You'll need to remove your exported/published migrations and run the default ones, or republish again first.

[2021-08-31 21:59] #155 closed

[2021-08-31 22:00] Omranic commented on #165
Related: have you exported/published migrations?

If yes, then maybe you're running an outdated migrations because this field `subscriber` has been changed in a previous release. You'll need to remove your exported/published migrations and run the default ones, or republish again first.

[2021-09-02 04:56] harshad4118 commented on #163
i understand that it take custom value for sort_order in both model but in my case its not working according to you described above and it take increment value even if i pass some custom numeric value

[2021-09-27 01:44] chegmarco1989 opened #168 "ERROR: There are no commands defined in the "rinvex:publish" namespace"
Hi.

We are trying to install "**Rinvex/Laravel-subscripions**". But when we run the command:

**We receive the following error:**

Can you give soot to this problem to help us finalize the package installation without error ???
Thanks in advance.

[2021-09-27 10:14] Omranic commented on #162
Glad you found your way around, don't hesitate to ask for any further assistance 👍

[2021-09-27 10:14] Omranic commented on #161
Duplicate #162

[2021-09-27 10:22] Omranic commented on #115
This is considered for a future release.

PRs are most welcome to add this feature 😉

[2021-09-27 10:22] #115 closed

[2021-09-28 18:04] Omranic commented on #163
You can check [spatie/eloquent-sortable](https://github.com/spatie/eloquent-sortable) for documentation, as this package depends on that one.

[2021-09-28 19:16] Omranic commented on #168
This should be fixed in recent releases, make sure you're using v6+ of the package.

[2021-09-28 19:16] #168 closed

[2021-09-28 19:18] Omranic commented on #166
This is currently not supported, but I'd be happy to consider a PR. All PRs are welcome, feel free to contribute that feature 😉

[2021-09-28 19:18] #166 closed

[2021-09-28 19:18] Omranic commented on #52
This is currently not supported, but I'd be happy to consider a PR. All PRs are welcome, feel free to contribute that feature 😉

[2021-09-28 19:18] #52 closed

[2021-09-28 19:19] Omranic commented on #91
Thank you, this is now fixed in #164

[2021-09-28 19:19] #91 closed

[2021-09-28 19:25] Omranic commented on #78
This is currently not implemented, but I'd be happy to consider a PR for that. All PRs are welcome 😉

[2021-09-28 19:28] Omranic commented on #107
Thank you for your feedback, I'd be happy to consider any PRs that improve the code or documentation. All PRs are most welcome 😉

[2021-09-28 19:28] #107 closed

[2021-09-28 19:31] Omranic commented on #101
I'd be happy to consider any PRs to implement this feature, all PRs are most welcome 😉

[2021-09-28 20:07] Omranic commented on #69
This is related to #76 & #110 (fix under review, let's keep the discussion on #76)

[2021-09-28 20:07] #69 closed

[2021-09-28 20:13] Omranic commented on #68
Despite having the db fields, this feature isn't implemented yet. I'd be happy to consider PRs adding this feature, all PRs are welcome 😉

[2021-09-28 20:13] #68 closed

[2021-09-28 20:15] Omranic commented on #109
Thank you for your patience, this is related to #76 & #110 (fix under review, let's keep the discussion on #76)

[2021-09-28 20:25] Omranic commented on #67
Thank you for your patience, this is currently not implemented in the best way, but it's on the roadmap. I'd be happy to consider PRs to improve the implementation of this feature. All PRs are welcome 😉

[2021-09-28 20:25] #67 closed

[2021-09-28 20:43] Omranic commented on #59
This is now fixed in https://github.com/rinvex/laravel-subscriptions/compare/6f70ed89666a...3eedf73b8a68
https://github.com/rinvex/laravel-subscriptions/commit/3eedf73b8a685f9f6096ad7e30bf5a1c4256fbd9

[2021-09-28 20:43] #59 closed

[2021-09-28 20:48] Omranic commented on #67
Added to the readme roadmap in case someone is willing to contribute https://github.com/rinvex/laravel-subscriptions/tree/develop#roadmap

[2021-09-28 20:48] Omranic commented on #78
Added to the readme roadmap in case someone is willing to contribute
https://github.com/rinvex/laravel-subscriptions/tree/develop#roadmap

[2021-09-28 20:50] Omranic commented on #167
Thank you for your patience. The trial features aren't implemented in the best way, and it's lacking fundamental logic. I'd be happy to consider any PRs to improve the implementation of this feature. All PRs are welcome 😉

Added to the readme roadmap in case someone is willing to contribute
https://github.com/rinvex/laravel-subscriptions/tree/develop#roadmap

[2021-09-28 20:50] #167 closed

[2021-09-28 21:04] Omranic commented on #106
You can simply put your code inside an if condition, example:
[code]

[2021-09-28 21:04] #106 closed

[2021-09-28 21:08] Omranic commented on #64
This is currently not implemented, but I'd be happy to consider a PR for that. All PRs are welcome 😉

Added to the readme roadmap in case someone is willing to contribute
https://github.com/rinvex/laravel-subscriptions/tree/develop#roadmap

[2021-09-28 21:08] #64 closed

[2021-09-28 21:10] Omranic commented on #112
Thank you for your patience, I'm not sure I understand your request correctly, would you kindly explain if that's something you're still looking for, and feel free to re-open this issue?

[2021-09-28 21:10] #112 closed

[2021-09-28 21:11] Omranic commented on #113
Thank you for your patience, I'm not sure I understand your request correctly, would you kindly explain if that's something you're still looking for, and feel free to re-open this issue?

[2021-09-28 21:11] #113 closed

[2021-09-28 21:13] Omranic commented on #159
This seems to me related to #76, so I'll close and keep the discussion there. Feel free to re-open & explain if it's not.

[2021-09-28 21:13] #159 closed

[2021-10-07 03:03] yogithesymbian opened #169 "Get bookings of the given user with plan price"
[code]
then how to get response with('plan') ? i would to get plan price from subscription. there is have instance access or not ?

[2021-10-07 03:20] yogithesymbian commented on #169
ah my bad, i ve refresh on server
just use ->with('model)

[2021-10-07 03:20] #169 closed

[2021-10-10 22:42] Omranic commented on #169
Glad you've got it fixed 👍

[2021-10-13 12:49] singleseeker opened #170 "what are prorate_period，prorate_extend_due， prorate_extend_day for?"
Great package, save lots of time?

Have no idea about what  prorate_period，prorate_extend_due， prorate_extend_day for ? Any deeper description? Thank you.

[2021-10-26 00:48] #170 closed, assigned to nobody

[2021-12-03 01:19] Bariskau commented on #59
@Omranic  Still have the same problem.

[2021-12-03 18:07] insign commented on #59
Not tested yet. But is this a breaking change?

[2021-12-07 23:58] Omranic commented on #59
@Bariskau what problem do you still have, can you please explain in more details..

@insign Yes, function and trait renames.

[2021-12-08 06:06] Bariskau commented on #59
@Omranic  Cashier basically just takes care of the stripe payment part. We have to create user limitations or plan information ourselves. That takes a lot of time. This package offers them, it just can't get paid. We already handle this with cashier. For this reason, it support will be good for many people to work with cashier.

If support will not be given, I recommend [this](https://github.com/r

[2021-12-11 12:40] Omranic commented on #59
@Bariskau TBH I still didn't get your points, so what's the issue related to this package exactly?

What you explained is correct, and it's mentioned already in the docs, this package doesn't handle payment.

[2021-12-13 17:59] japhyamg opened #172 "How to get user current subscription"
Good day, please how can i get the user current active subscription not subscriptions.

[2021-12-14 15:50] insign commented on #59
@Bariskau is right. HasSubscriptions trait from laravel-subscriptions keeps colliding with Billable trait from Cashier.

It's sad that this issue is so old, had many major new version, and it keeps the same function names...

[2021-12-14 22:09] Omranic commented on #59
OK, now I see why's the complains! All these issues were already fixed long time ago, but wasn't merged into `master` branch, it was staying in the `develop` and not tagged yet. I've tagged a new release now v6.0.1 which should include all of these fixes! *🚨⚠️ WARNING: BACKWARD INCOMPATIBLE*

[2021-12-15 02:46] insign commented on #59
I'm very happy to test this asap. But since it is a break change, shouldn't
you follow semver.org?

Em ter., 14 de dez. de 2021 19:09, Abdelrahman Omran <
***@***.***> escreveu:

[2021-12-15 10:02] Omranic commented on #59
Yes, we should be following semver, and the major changes in v6.x was meant to be this change, hence the major release, however I just noticed it wasn't merged into it. So I tagged a new version, and to me it doesn't make sense to tag a new major release to fix that, right?

Anyway, the backward incompatibility issues is because of the function renames that solve the previous Cashier conflicts, no

[2021-12-17 05:04] insign commented on #59
Thank you, now looks great!

[2021-12-18 11:54] 6ichem commented on #172
Hi, I have made a PR for this feature to be added into the package. In the meantime you can use it as I explained in the PR: https://github.com/rinvex/laravel-subscriptions/pull/173

[2021-12-18 12:05] Omranic commented on #172
@6ichem Merged, thank you!

@japhyamg let me know if you still need help.

[2021-12-18 12:05] #172 closed

[2021-12-18 20:25] japhyamg commented on #172
ok thank you

[2021-12-29 13:08] sheinfeld opened #174 "Trait "Rinvex\Subscriptions\Traits\HasPlanSubscriptions" not found"
I don't understand what's going on...

https://i.imgur.com/qrIwt1c.png

Any ideas? I've already tried composer dump-autoload and update

[2021-12-29 14:00] insign commented on #174
Have you checked if this still the class name? Last month the repo had some
name changes...

[2021-12-30 05:59] jamesallan93 opened #175 "The model PlanSubscription returns false on canUseFeature"
I think canUseFeature is wrong.
In the first if condition.
[code]
The function getFeatureValue only returns a value or null but never "true" as string.

[2022-01-03 09:48] Omranic commented on #174
@sheinfeld latest release had breaking-change and renamed classes/methods. Check all changes here https://github.com/rinvex/laravel-subscriptions/compare/v6.0.0...v6.0.1#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

[2022-01-03 09:48] #174 closed

[2022-01-04 14:22] faramarzQ opened #176 "Problem with installation on Laravel 7"
Well i'm facing this error while installing the package on Laravel 7.*,
`rinvex/laravel-subscriptions v2.0.0 requires illuminate/console ~5.8.0 -> found illuminate/console[v5.8.0, ..., 5.8.x-dev] but these were not loaded, likely because it conflicts with another require`
How can i resolve it?

[2022-01-05 09:12] Fayozjon commented on #176
+

[2022-01-05 09:54] faramarzQ opened #177 "Laravel doesn't read migrations and configs from published files"
I installed laravel-subscriptions:v4.1.0 on Laravel:v7,
Now after publishing config and migration files, Laravel still reads them from the vendor diretory. any further actions should be done?

[2022-01-05 09:54] #176 closed

[2022-01-06 06:39] Omranic commented on #176
The currently supported versions are Laravel v8+ and PHP v8.1+

So you'll need to use an older version compatible with Laravel v7, and check the PHP version compatibility too.

[2022-01-06 06:40] Omranic commented on #177
The currently supported versions are Laravel v8+ and PHP v8.1+

So you'll need to use an older version compatible with Laravel v7, and check the PHP version compatibility too.

To use the published migrations instead of the package's ones, please disable the auto-migration config option https://github.com/rinvex/laravel-subscriptions/blob/master/config/config.php#L8

[2022-01-06 06:40] #177 closed

[2022-01-07 07:38] Fayozjon commented on #172
Not working

[2022-01-07 07:39] Fayozjon opened #178 "How to implement default plan on user signup? [DONE]"
Hello!
How to set one of plans as default on user signup?

[2022-01-07 07:57] Fayozjon commented on #178
Steps:

1. php artisan make:listener AssignDefaultPlanToUser
2. at App\Providers\EventServiceProvider add new event Listener in Register event:
 protected $listen = [
        Registered::class => [
            AssignDefaultPlanToUser::class
        ],
    ];

3. Edit App\Listeners\AssignDefaultPlanToUser

   public function handle($event)
    {
         $user = $event->user;
         $plan = app('

[2022-01-07 07:57] #178 closed

[2022-01-17 17:19] sgtcoder opened #181 "How to get list of subscriptions that are due/past due?"
I was wondering how I can get a list of subscriptions that are due or past due? I was going to create a CRON job to run every night to charge the subscription, but I would need the list of subscriptions that are due. Is there a way to track if the subscription was billed/paid for that period?

[2022-01-18 03:22] rapcrown opened #182 "HasPlanSubscriptions Error"
Hello,

Laravel 8 install and error ?

[code]

[2022-01-18 03:46] #182 closed

[2022-01-18 03:46] rapcrown commented on #182
Change name

[code]

[2022-01-21 11:11] abublihi commented on #75
is there a way to skip the trial period event it was set?

[2022-01-27 14:56] calle284 opened #183 "Creating Plans using Seeders"
Good day,

I am trying to create plans on migration but I keep getting slug issues (I think).

ERROR:
	The error that is happening here is that it keeps hitting the unique validation error whenever I reach the 'Free Yearly' as shown in the picture below.

![image](https://user-images.githubusercontent.com/6089768/151383517-7d935b0a-5276-421e-ad83-f4b1fccc7fd7.png)

No matter what I tried (listed b

[2022-01-28 22:14] Omranic commented on #75
I'm planning to support that in an upcoming rewrite of this package, no ETA however! PRs are welcome 🙂

[2022-01-28 22:15] Omranic commented on #182
That shouldn't be the case, latest version uses `HasPlanSubscriptions` but you should be using a compatible version of PHP/Laravel

[2022-01-29 01:50] Omranic commented on #183
Have you tried to add a `slug` to your plan?

[2022-01-29 13:36] calle284 commented on #183
yes I did. and it still gave the same error as if it was cached but I cleared cache too.

I gave all of them slugs
    free-montly
    standard-montly
    pro-montly
    free-yearly
    standard-yearly
    pro-yearly

[2022-01-29 16:09] calle284 commented on #183
yes I did. and it still gave the same error as if it was cached but I cleared cache too.

see *WHAT WORK BUT WITH ERRORS* above

I gave all of them slugs
    free-montly
    standard-montly
    pro-montly
    free-yearly
    standard-yearly
    pro-yearly

[2022-01-31 11:44] akunbeben commented on #172
@Omranic any information on when it will publish? I was having a hard time trying to extend the model with that PR's code 😭

[2022-02-02 05:24] Aslam97 commented on #182
Hi thank you so much for this package. I've question when will v6 is the default install version for this package?

[2022-02-02 06:43] Omranic commented on #182
Hmmmm, it is already! 🤔

[2022-02-02 07:18] Aslam97 commented on #182
Sorry my fault. didnt know v6 require php 8. as my php version is 7.4 ofcouse composer install automaticlly installed v5 hehe.

[2022-02-09 16:22] leasify-it opened #184 "Laravel 9"
Any plans to support L9 in the near future?

[2022-02-09 22:06] calle284 commented on #183
@Omranic Can I please get an answer

[2022-02-14 18:09] Omranic commented on #172
@akunbeben @Fayozjon @6ichem @japhyamg it's now tagged as a new release, check v6.1.0

[2022-02-15 22:39] elasti-co commented on #184
When installing on L9 get error:
`- rinvex/laravel-support v6.1.0 requires felixkiss/uniquewith-validator dev-l9-compatibility -> found felixkiss/uniquewith-validator[dev-master, 1.0.0, ..., 1.1.4, 2.0.0, ..., 2.0.8, 3.0.0, ..., 3.4.2] but it does not match the constraint.
`

[2022-02-15 23:28] Omranic commented on #184
Yes, that's because one of the composer dependencies is not yet compatible with Laravel v9, so you've to do one more easy step to get it working, please check this note on upgrading to Laravel v9:

https://github.com/rinvex/laravel-support#note-for-laravel-v9

## Note for Laravel v9

This package requires `felixkiss/uniquewith-validator` dependency, which is not yet compatible with Laravel v9! How